*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.headerName{
    color: orange;
    margin-top: 5rem;
}
.headerName h1{
    font-size: 4rem;
}
.divInput{
    width: 80%;
    margin-top: 5rem;
}
.divInput label{
    font-size: 3rem;
    color: brown;
    margin-left: 10px;
}
.divInput input{
    width: 50%;
    margin-bottom: 10px;
}
.divInput #themSo{
    margin-bottom: 20px;
}
.divInput .xuatDulieu{
    background-color: green;
    padding: 15px;
}
.divInput span{
    font-size: 2rem;
    color: yellow;
}
.divInput #xuatDuLieu{
   letter-spacing: 3px;
}
.divInput #ketQua {
    padding: 30px !important;
    font-size: 25px;
    color: crimson;
}
.divButton {
    padding: 20px;
    width: 80%;
}
.divButton button{
    margin-right: 5px ;
    margin-top: 10px;
}
